/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Gugi|Lato|Montserrat|Open+Sans|Oswald|Raleway');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/*
https://fonts.google.com/selection?selection.family=Amatic+SC|Cabin|Cuprum|Cute+Font|East+Sea+Dokdo|Exo|Exo+2|Gaegu|Gamja+Flower|Gugi|Handlee|Indie+Flower|Josefin+Sans|Jua|Lato|Montserrat|Open+Sans|Orbitron|Oswald|Pacifico|Poiret+One|Quicksand|Raleway|Rokkitt|Shadows+Into+Light|Yanone+Kaffeesatz
*/
h1 {
  font-family: 'Orbitron', sans-serif;

}
body {
  background-color: #fff;
  font-family: 'Cuprum', sans-serif;
}
